@import './base.css';
.nav-link{color:#fff;}
.box{border: .5rem solid #191919; min-height: 100vh;
    position: relative; padding:.5rem;}
.box:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    bottom: .5rem;
    border: .5px solid #666;}
    